<div class="container">
<div class="row">
  <div class="col-12">
    <h2>Quote Generator</h2>
    <div class="container">
      <form action="">
        <div class="row">
          <div class="col-3">
            <label for="Quote">Quote</label>
    

          </div>
          <div class="col-9">
            <input type="text" placeholder="Quote" name="Quote" [(ngModel)]="Quote">
            {{Quote}}
          

          </div>
        </div>
        <div class="row">
            <div class="col-3">
              <label for="author">Author</label>
      
  
            </div>
            <div class="col-9">
              <input type="text" placeholder="author" name="author" [(ngModel)]="author">
             
            
  
            </div>
          </div>
          <div class="row">
              <div class="col-3">
                <label for="submitter">Submitter</label>
        
    
              </div>
              <div class="col-9">
                <input type="text" placeholder="submitter" name="submitter" [(ngModel)]="submitter">
            
    
              </div>
            </div> 
            <div class="row">
              <div class="col-12">
                <button class="btn btn-primary" (click)="submitQuote()" >Submit</button>
              </div>
            </div>
      </form>
    </div>

  </div>
</div>
</div>
<div class="container">
  <div *ngFor="let Q of Quotes" class="row">
    <div class="col-4">
      {{Q.Quote}}

    </div>
    <div class="col-3">
      {{Q.authorname}}
    </div>
    <div class="col-3">
      {{Q.submitter}}
    </div>
    <div class="col-1">
      {{Q.upvote}}
      <button (click)="quotesupvote(Q.id)" >{{Q.upvote}}</button>
    </div>
    <div class="col-1">
      {{Q.downvote}}
      <button (click)="quotesdownvote(Q.id)" >Downvote</button>
    </div>

  </div>
</div>