<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>

      <!-- Quote Input -->
      <div class="form-group">
        <label for="author">Quote</label>
        <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.quote" name="quote"
          #quote="ngModel" required></textarea>
        <div [hidden]="quote.valid || description.pristine" class="alert alert-danger">
          <p> Quote is Required</p>

        </div>

      </div>
      <!-- Author Form -->
      <div class="form-group">
        <label for="name">Author</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="newAuthor.name" name="author" #quoteForm="ngModel"
          required>

        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
          <p> Author is Required</p>

        </div>
      </div>

      <!-- Date Input -->
      <div class="form-group">
        <label for="complete">Completion</label>
        <input type='date' id="complete" [(ngModel)]="newGoal.completeDate" name="completeDate" #completeDate="ngModel"
          required>
        <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
          <p> Complete Date is Required</p>

        </div>
      </div>
      <button type="Submit" class="btn btn-success btn-lg">Like</button>
      <button type="Submit" class="btn btn-success btn-lg">Booo!</button>
    </form>
  </div>
</div>
