body{
    background-color: beige;
}
.container{
    background-color:bisque;
}
.container-inputs{
    background-color: rgb(221, 184, 136);
}
.container-quotes{
    background-color: antiquewhite;
}
.container-view{
    background-color: blanchedalmond;
}

.theQoute:hover{
    border-radius: 5px;
    background-color: bisque;
}
form{
    border:1px solid #ececec;
    padding: 10px
}
.qoutes{
    border:1px solid #ececec;
    padding: 10px;
    text-align: center;
}
button{
    background-color: beige;
    color: black;
}
